* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url("../img/wall.png");
  background-position: top center;
  background-size: auto 100%;
  background-repeat: repeat-x;

  flex: 0 0 15vh;

  h1 {
    font-family:'Edu Tas Beginner', sans-serif;
    font-size: 5.5rem;

    text-align: center;
    padding: 1rem;
  }
}

main {
  background-image: url("../img/cork.png");
  background-position: top center;
  background-size: 60vw auto;
  background-repeat: repeat;

  padding-top: 2rem;

  flex: 1;
}



/* POLAROID */

.polaroid {
  position: relative;
  background: white;
  width: 400px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.polaroid-date {
  font-family:  'Sometype Mono', 'monospace'
}

.pin {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%, -50%);
}