* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


/* UTILITIES */

.container {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; 
}

.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.gap-3 {gap: 3rem;}




body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
}

header {
  background-image: url("../img/wall.png");
  background-position: top center;
  background-size: auto 100%;
  background-repeat: repeat-x;

  flex: 0 0 15vh;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family:'Edu Tas Beginner', sans-serif;

    text-align: center;
    padding: 1rem;
  }
}

main {
  background-image: url("../img/cork.png");
  background-position: top center;
  background-size: 60vw auto;
  background-repeat: repeat;

  padding-top: 2rem;

  flex: 1;
  padding-block: 2rem;
}




/* POLAROID */

.polaroid {
  position: relative;
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  margin-bottom: 1rem;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.polaroid-body {
  margin-top: 1rem;
  font-size: 1.2rem;

  .polaroid-date {
    font-family:  'Sometype Mono', 'monospace';
  }

  .polaroid-description {
    font-family:'Edu Tas Beginner', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    text-transform: uppercase;
  }
}

.pin {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%, -50%);
}